.stack-work
.DS_Store
.hindent.yaml
debug.txt
Setup.hs
insert-molecule.cabal

optimization-script/*
!optimization-script/create.pgn
!optimization-script/fixate_ret.pgn
!optimization-script/m1.conf
!optimization-script/mout.pgn
!optimization-script/par_all27_prot_lipid_P.inp
!optimization-script/relax.sh
!optimization-script/size.pgn
!optimization-script/top_all27_prot_lipid_P.inp