.stack-work
.DS_Store
.hindent.yaml
.gitignore
config
Setup.hs
insert-molecule.cabal

data/proteins/*
!data/proteins/1M0L.pdb
data/results/*
!data/results/1M0L-result.pdb
data/zmatrixs/*
!data/zmatrixs/README.md
!data/zmatrixs/zmatrix

Optimizer/*
!Optimizer/create.pgn
!Optimizer/fixate_ret.pgn
!Optimizer/m1.conf
!Optimizer/mout.pgn
!Optimizer/par_all27_prot_lipid_P.inp
!Optimizer/relax.sh
!Optimizer/size.pgn
!Optimizer/top_all27_prot_lipid_P.inp